<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>IG account info</title>
  <meta name="description" content="Retrieve your instagram account info">
  <meta name="author" content="matthewjk">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">

</head>

<body class="gradient">
    <div class="center">
    <a href="https://gitlab.com/matthewjk/ig-chatbot">
    <img class="logo" src="https://instagram-brand.com/wp-content/uploads/2016/11/app-icon2.png" alias="Instagram logo">
    </a>
    <h1 class="bigtext">{{text}}</h1>
</div>
</body>
</html>