<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>IG account info</title>
  <meta name="description" content="Retrieve your instagram account info">
  <meta name="author" content="matthewjk">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>

<body class="gradient">
    <div class="center">
    <a href="https://www.instagram.com/{{username}}">
        <h1 class="medtext">Hi {{username}}!</h1>
    </a>
    <a href={{profpic}}><img class="profpic" src={{profpic}} alias="Instagram logo"></a>
    <h1 class="smalltext">Followers: {{followers}} | Following: {{following}}</h1>
    <h1 class="smalltext">Number of posts: {{postnum}}</h1>
    <h1 class="smalltext">Name: {{name}}</h1>
    <h1 class="smalltext">Bio: {{bio}}</h1>
    <h1 class="smalltext">Website: {{website}}</h1>
    <h1 class="smalltext">Your last post was captioned: {{caption}}</h1>
    <h1 class="smalltext">It recieved: {{likes}} likes</h1>

</div>
</body>
</html>