body{
    overflow: hidden;
}

a {
    text-decoration: none !important;
}

.gradient {
    width: 100vw;
    height: 100vw;
    background-color: red; /* For browsers that do not support gradients */
    background-image: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  }

.bigtext{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 10vh
}

.medtext{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 5vh
}

.smalltext{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vh
}

.logo{
    width: 10vw;
    height: 10vw;
}

.profpic{
    width:15vw;
    height: 15vw;
    border-radius: 40px;
}

.center{
    position: absolute;
    top: 50vh;
    width: 100vw;
    align-content: center;
    text-align: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
